#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_install:
	dh_auto_install
	cd porting-script && pip3 install --user pyinstaller -i https://it.uniontech.com/nexus/repository/pypi-public/simple && ~/.local/bin/pyinstaller -F --add-data "config:config" --distpath ../debian/deepin-codeporting/usr/bin/ deepin-codeporting.py

